/* styles.css */
@keyframes auroraAnimation {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

html, body {
  overflow: auto;
}

.no-scroll {
  overflow: hidden; /* Menonaktifkan scroll pada body */
  position: fixed;  /* Menghindari scroll dengan membuat posisi body tetap */
  width: 100%;      /* Menjaga lebar body tetap penuh */
}

.app-container {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  min-height: 100vh; /* Ensure full viewport height */
  position: relative;
}

.aurora-background {
  background: linear-gradient(135deg, #a2c2e4, #e3f2fd,#b3e5fc); /* Warna-warna pastel biru */
  background-size: 400% 400%;
  animation: auroraAnimation 30s ease infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it is behind other content */
}

.card-loading {  
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  min-height: 100px;
  min-width: 100px;
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  max-width: 500px;
}

.card-loading .loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9); /* White with higher opacity for better contrast */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Ensure overlay is above card content */
}

.card-loading .loading-overlay .spinner {
  width: 3rem;
  height: 3rem;
  border: 4px solid #e3f2fd; /* Light pastel blue */
  border-top: 4px solid #0277bd; /* Darker blue for spinner */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* styles.css */

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background: #000;
}

.swiper-pagination-bullet-active {
  background: #007bff;
}
